.vovertext {
  position: absolute;
  top: 40%;
  width: 325px;
  font-weight: bold;
  font-size: 125%;
}

.vover {
  float: left;
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: 1000;
  color: #FFFFFF;
  opacity: 0;
  background-color: rgba(2, 2, 2, 0.6);
  transition: .5s ease;
  width: 325px;
  height: 100%;
}

